# This file is covered under CC0-1.0. See libraries/LICENSE.txt.
# Simulator-only mapping for Atari JANE (Tarzan prototype).
# Physical/file order is explicit because JANE powers up in physical bank 1,
# which VCSC exposes as logical startup/home bank0.
CARTRIDGE {
    mapper = JANE;
    fillval = $FF;
    trampoline = $0F00;
    trampolinesize = $00E0;
    vectorbridge = $0EE0;
}
BANKS {
    BANK0: start = $F000, size = $1000, hotspot = $1FF1, fileindex = 1, startup = yes;
    BANK1: start = $D000, size = $1000, hotspot = $1FF0, fileindex = 0, startup = no;
    BANK2: start = $B000, size = $1000, hotspot = $1FF8, fileindex = 2, startup = no;
    BANK3: start = $9000, size = $1000, hotspot = $1FF9, fileindex = 3, startup = no;
}
MEMORY {
    RAM: start = $0080, size = $0080, type = rw, define = yes, callstack = callgraph;
    bank3: start = $9000, size = $0EE0, type = ro, define = yes, bank = BANK3;
    bank2: start = $B000, size = $0EE0, type = ro, define = yes, bank = BANK2;
    bank1: start = $D000, size = $0EE0, type = ro, define = yes, bank = BANK1;
    bank0: start = $F000, size = $0EE0, type = ro, define = yes, bank = BANK0;
}
