# This file is covered under CC0-1.0. See libraries/LICENSE.txt.
# Simulator-only mapping for UASW: UA Limited hardware with swapped selector
# association. Physical bank 0 powers up; $0240 selects file bank 0 and $0220
# selects file bank 1.  The UA alias mask and console-device forwarding remain
# unchanged.
CARTRIDGE {
    mapper = UASW;
    fillval = $FF;
    trampoline = $0F00;
    trampolinesize = $00E0;
    vectorbridge = $0FE0;
}
BANKS {
    BANK0: start = $F000, size = $1000, hotspot = $0240, fileindex = 0, startup = yes;
    BANK1: start = $D000, size = $1000, hotspot = $0220, fileindex = 1, startup = no;
}
MEMORY {
    RAM:   start = $0080, size = $0080, type = rw, define = yes, callstack = callgraph;
    bank1: start = $D000, size = $0F00, type = ro, define = yes, bank = BANK1;
    bank0: start = $F000, size = $0F00, type = ro, define = yes, bank = BANK0;
}
