# This file is covered under CC0-1.0. See libraries/LICENSE.txt.
CARTRIDGE {
    mapper = 3E;
}
BANKS {
    BANK0: start = $9000, size = $0800, fileindex = 0, startup = no;
    BANK1: start = $B000, size = $0800, fileindex = 1, startup = no;
    BANK2: start = $D000, size = $0800, fileindex = 2, startup = no;
    BANK3: start = $F800, size = $0800, fileindex = 3, startup = yes;
}
MEMORY {
    RAM: start = $0080, size = $0080, type = rw, define = yes;
}
