# This file is covered under CC0-1.0. See libraries/LICENSE.txt.
# Simulator mapping for Activision/SCABS FE.
#
# FE has no address hotspot.  An access to stack address $01FE arms a delayed
# latch; the following data-bus value selects physical bank 0 for E/F high-byte
# values and physical bank 1 for C/D. Physical/file bank 0 supplies RESET.
CARTRIDGE {
    mapper = FE;
    fillval = $FF;
}
BANKS {
    BANK0: start = $F000, size = $1000, fileindex = 0, startup = yes;
    BANK1: start = $D000, size = $1000, fileindex = 1, startup = no;
}
MEMORY {
    RAM:   start = $0080, size = $0080, type = rw, define = yes, callstack = callgraph;
    bank1: start = $D000, size = $0FF8, type = ro, define = yes, bank = BANK1;
    bank0: start = $F000, size = $0FFA, type = ro, define = yes, bank = BANK0;
}
