# This file is covered under CC0-1.0. See libraries/LICENSE.txt.
# Atari DPC: two F8 4K program banks plus 2K display data and a conventional
# 255-byte RNG/poly tail.  The simulator consumes the last two image regions
# internally; only the two program banks appear in BANKS.
CARTRIDGE {
    mapper = DPC;
}
BANKS {
    BANK0: start = $F000, size = $1000, hotspot = $1FF9, fileindex = 1, startup = yes;
    BANK1: start = $D000, size = $1000, hotspot = $1FF8, fileindex = 0, startup = no;
}
MEMORY {
    RAM: start = $0080, size = $0080, type = rw, define = yes;
}
