# This file is covered under CC0-1.0. See libraries/LICENSE.txt.

# CommaVid CV 2K ROM + 1K split-address cartridge RAM logical configuration.
# The authoritative cartridge topology is libraries/vcs/vcs_2k_cv.c26.

MEMORY {
    RAM:          start = $0080, size = $0080, type = rw, define = yes, callstack = callgraph;
    cartram:      read_start = $F000, write_start = $F400, size = $0400, type = rw, define = yes, read_hazard = yes;
    ROM:          start = $F800, size = $07F8, type = ro, define = yes;
    VECTORS:      start = $FFFA, size = $0006, type = ro, define = yes;
}

SEGMENTS {
    ZEROPAGE:       load = ROM, run = RAM, type = zp,   define = yes;
    DATA:           load = ROM, run = RAM, type = data, define = yes;
    BSS:            load = RAM,            type = bss,  define = yes;
    STARTUP:        load = ROM,            type = ro,   define = yes;
    CODE:           load = ROM,            type = ro,   define = yes;
    RODATA:         load = ROM,            type = ro,   define = yes;
    BSS.cartram:    load = cartram,        type = bss,  define = yes;
    DATA.cartram:   load = ROM, run = cartram, type = data, define = yes;
    VECTORS:        load = VECTORS,        type = ro,   start = $FFFA;
}
