# vcsc-as default opcode table
# syntax: MNEMONIC MODE OPCODE
# modes: imp acc imm zp zpx zpy abs absx absy ind indx indy rel

ADC  imm  $69
ADC  zp   $65
ADC  zpx  $75
ADC  abs  $6D
ADC  absx $7D
ADC  absy $79
ADC  indx $61
ADC  indy $71
AND  imm  $29
AND  zp   $25
AND  zpx  $35
AND  abs  $2D
AND  absx $3D
AND  absy $39
AND  indx $21
AND  indy $31
ASL  acc  $0A
ASL  zp   $06
ASL  zpx  $16
ASL  abs  $0E
ASL  absx $1E
BCC  rel  $90
BCS  rel  $B0
BEQ  rel  $F0
BMI  rel  $30
BNE  rel  $D0
BPL  rel  $10
BVC  rel  $50
BVS  rel  $70
BIT  zp   $24
BIT  abs  $2C
BRK  imp  $00
CLC  imp  $18
CLD  imp  $D8
CLI  imp  $58
CLV  imp  $B8
CMP  imm  $C9
CMP  zp   $C5
CMP  zpx  $D5
CMP  abs  $CD
CMP  absx $DD
CMP  absy $D9
CMP  indx $C1
CMP  indy $D1
CPX  imm  $E0
CPX  zp   $E4
CPX  abs  $EC
CPY  imm  $C0
CPY  zp   $C4
CPY  abs  $CC
DEC  zp   $C6
DEC  zpx  $D6
DEC  abs  $CE
DEC  absx $DE
DEX  imp  $CA
DEY  imp  $88
EOR  imm  $49
EOR  zp   $45
EOR  zpx  $55
EOR  abs  $4D
EOR  absx $5D
EOR  absy $59
EOR  indx $41
EOR  indy $51
INC  zp   $E6
INC  zpx  $F6
INC  abs  $EE
INC  absx $FE
INX  imp  $E8
INY  imp  $C8
JMP  abs  $4C
JMP  ind  $6C
JSR  abs  $20
LDA  imm  $A9
LDA  zp   $A5
LDA  zpx  $B5
LDA  abs  $AD
LDA  absx $BD
LDA  absy $B9
LDA  indx $A1
LDA  indy $B1
LDX  imm  $A2
LDX  zp   $A6
LDX  zpy  $B6
LDX  abs  $AE
LDX  absy $BE
LDY  imm  $A0
LDY  zp   $A4
LDY  zpx  $B4
LDY  abs  $AC
LDY  absx $BC
LSR  acc  $4A
LSR  zp   $46
LSR  zpx  $56
LSR  abs  $4E
LSR  absx $5E
NOP  imp  $EA
ORA  imm  $09
ORA  zp   $05
ORA  zpx  $15
ORA  abs  $0D
ORA  absx $1D
ORA  absy $19
ORA  indx $01
ORA  indy $11
PHA  imp  $48
PHP  imp  $08
PLA  imp  $68
PLP  imp  $28
ROL  acc  $2A
ROL  zp   $26
ROL  zpx  $36
ROL  abs  $2E
ROL  absx $3E
ROR  acc  $6A
ROR  zp   $66
ROR  zpx  $76
ROR  abs  $6E
ROR  absx $7E
RTI  imp  $40
RTS  imp  $60
SBC  imm  $E9
SBC  zp   $E5
SBC  zpx  $F5
SBC  abs  $ED
SBC  absx $FD
SBC  absy $F9
SBC  indx $E1
SBC  indy $F1
SEC  imp  $38
SED  imp  $F8
SEI  imp  $78
STA  zp   $85
STA  zpx  $95
STA  abs  $8D
STA  absx $9D
STA  absy $99
STA  indx $81
STA  indy $91
STX  zp   $86
STX  zpy  $96
STX  abs  $8E
STY  zp   $84
STY  zpx  $94
STY  abs  $8C
TAX  imp  $AA
TAY  imp  $A8
TSX  imp  $BA
TXA  imp  $8A
TXS  imp  $9A
TYA  imp  $98

# Raw opcode validation entries for otherwise unnamed opcode bytes.
# These entries do not make friendly unofficial mnemonics available; they
# only teach raw opXX the expected operand shape for every remaining byte.
op02  imp  $02
op03  indx $03
op04  zp   $04
op07  zp   $07
op0B  imm  $0B
op0C  abs  $0C
op0F  abs  $0F
op12  imp  $12
op13  indy $13
op14  zpx  $14
op17  zpx  $17
op1A  imp  $1A
op1B  absy $1B
op1C  absx $1C
op1F  absx $1F
op22  imp  $22
op23  indx $23
op27  zp   $27
op2B  imm  $2B
op2F  abs  $2F
op32  imp  $32
op33  indy $33
op34  zpx  $34
op37  zpx  $37
op3A  imp  $3A
op3B  absy $3B
op3C  absx $3C
op3F  absx $3F
op42  imp  $42
op43  indx $43
op44  zp   $44
op47  zp   $47
op4B  imm  $4B
op4F  abs  $4F
op52  imp  $52
op53  indy $53
op54  zpx  $54
op57  zpx  $57
op5A  imp  $5A
op5B  absy $5B
op5C  absx $5C
op5F  absx $5F
op62  imp  $62
op63  indx $63
op64  zp   $64
op67  zp   $67
op6B  imm  $6B
op6F  abs  $6F
op72  imp  $72
op73  indy $73
op74  zpx  $74
op77  zpx  $77
op7A  imp  $7A
op7B  absy $7B
op7C  absx $7C
op7F  absx $7F
op80  imm  $80
op82  imm  $82
op83  indx $83
op87  zp   $87
op89  imm  $89
op8B  imm  $8B
op8F  abs  $8F
op92  imp  $92
op93  indy $93
op97  zpy  $97
op9B  absy $9B
op9C  absx $9C
op9E  absy $9E
op9F  absy $9F
opA3  indx $A3
opA7  zp   $A7
opAB  imm  $AB
opAF  abs  $AF
opB2  imp  $B2
opB3  indy $B3
opB7  zpy  $B7
opBB  absy $BB
opBF  absy $BF
opC2  imm  $C2
opC3  indx $C3
opC7  zp   $C7
opCB  imm  $CB
opCF  abs  $CF
opD2  imp  $D2
opD3  indy $D3
opD4  zpx  $D4
opD7  zpx  $D7
opDA  imp  $DA
opDB  absy $DB
opDC  absx $DC
opDF  absx $DF
opE2  imm  $E2
opE3  indx $E3
opE7  zp   $E7
opEB  imm  $EB
opEF  abs  $EF
opF2  imp  $F2
opF3  indy $F3
opF4  zpx  $F4
opF7  zpx  $F7
opFA  imp  $FA
opFB  absy $FB
opFC  absx $FC
opFF  absx $FF
