# This file is covered under CC0-1.0. See examples/LICENSE.txt.

*.bin
*.cfg
*.hex
*.lst
*.map
*.o26
*.s26
!04_renderers/faithful_legacy_multisprite/faithful_legacy_multisprite_diagnostic_data.s26
!04_renderers/enhanced_multisprite/no_score_asymmetric/enhanced_multisprite_192_asymmetric_startup.s26
!05_video_standards/enhanced_multisprite_asymmetric/pal/pal_enhanced_multisprite_asymmetric_228_interactive_startup.s26
!05_video_standards/enhanced_multisprite_asymmetric/secam/secam_enhanced_multisprite_asymmetric_228_interactive_startup.s26
!07_diagnostics/field_diagnostic/diagnostic_boot.s26
*.sym
!07_diagnostics/bankswitching/3f_max/3f_max_torture_*.s26
!07_diagnostics/bankswitching/3e_max/3e_max_torture_*.s26
!07_diagnostics/bankswitching/3e_max/3e_max_swapram_storage.s26
!07_diagnostics/bankswitching/3ex_max/3ex_max_torture_*.s26
!07_diagnostics/bankswitching/3ex_max/3ex_max_swapram_storage_*.s26
