# This file is covered under CC0-1.0. See examples/LICENSE.txt.

*.bin
*.cfg
*.hex
*.lst
*.map
*.o26
*.s26
!10_faithful_legacy_multisprite/01_diagnostic/faithful_legacy_multisprite_diagnostic_data.s26
*.sym
