# This file is covered under CC0-1.0. See examples/LICENSE.txt.

*.bin
*.cfg
*.hex
*.lst
*.map
*.o26
*.s26
!10_faithful_legacy_multisprite/01_diagnostic/faithful_legacy_multisprite_diagnostic_data.s26
!18_enhanced_multisprite/01_192/01_asymmetric/enhanced_multisprite_192_asymmetric_startup.s26
!17_video_standards/pal/05_enhanced_multisprite_asymmetric/pal_enhanced_multisprite_asymmetric_228_interactive_startup.s26
!17_video_standards/secam/05_enhanced_multisprite_asymmetric/secam_enhanced_multisprite_asymmetric_228_interactive_startup.s26
!19_diagnostic/01_diagnostic/diagnostic_boot.s26
*.sym
!09_bankswitching/18_3f_max/3f_max_torture_*.s26
!09_bankswitching/19_3e_max/3e_max_torture_*.s26
!09_bankswitching/19_3e_max/3e_max_swapram_storage.s26
