# This file is covered under CC0-1.0. See libraries/LICENSE.txt.
# Simulator-only mapping for Brazilian Fotomania 0FA0 bankswitching.
# Physical/file bank 1 powers up.  The masked decoder is explicit in vcsc-sim:
# (A & $16E0)==$06A0 selects file bank 0; ==$06C0 selects file bank 1.
# Canonical cfg selectors use the familiar below-window $0FA0/$0FC0 aliases.
CARTRIDGE {
    mapper = 0FA0;
    fillval = $FF;
    trampoline = $0F00;
    trampolinesize = $00E0;
    vectorbridge = $0FE0;
}
BANKS {
    BANK0: start = $F000, size = $1000, hotspot = $0FC0, fileindex = 1, startup = yes;
    BANK1: start = $D000, size = $1000, hotspot = $0FA0, fileindex = 0, startup = no;
}
MEMORY {
    RAM:   start = $0080, size = $0080, type = rw, define = yes, callstack = callgraph;
    bank1: start = $D000, size = $0F00, type = ro, define = yes, bank = BANK1;
    bank0: start = $F000, size = $0F00, type = ro, define = yes, bank = BANK0;
}
